if SHIELD_ILD_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "ild_split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ILIKEDARBO_SPLIT_LEFT

if SHIELD_ILD_SPLIT_LEFT || SHIELD_ILD_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ILIKEDARBO_SPLIT_LEFT || SHIELD_ILIKEDARBO_SPLIT_RIGHT


